{% extends 'app/base.html' %}
{% block content %}
    <style>
        table {
            table-layout: fixed;
        }

        td > div {
            height: 100px;
            overflow: hidden;
            white-space: nowrap;
        }
        

        .month_link {
            float: right;
        }

    </style>
    <a href="{% url 'app:week_with_schedule' month_current.year month_current.month now.day %}">週表示に切り替え</a>
    <div>
        <span>
            <a href="{% url 'app:month_with_schedule' month_prev_year.year month_current.month %}">前年</a>
            {{ month_current | date:"Y年m月" }}
            <a href="{% url 'app:month_with_schedule' month_next_year.year month_current.month %}">来年</a>
        </span>
        <span class="month_link">
            {% for month_num in month_numbers %}
                <a href="{% url 'app:month_with_schedule' month_current.year month_num %}"
                    {% if month_current.month == month_num %}style="font-weight: bold;"{% endif %}>
                    {{ month_num }}月
                </a>
                {% if not forloop.last %} | {% endif %} {# 月の間に区切り文字を追加 #}
            {% endfor %}
        </span>
    </div>

    <table class="table">
        <thead>
        <tr>
            {% for w in week_names %}
                <th>{{ w }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for week_day_schedles in month_day_schedules %}
            <tr>
                {% for day, schedules in week_day_schedles.items %}
                    {% if now == day %}
                        <td class="table-success">
                            {% else %}
                        <td>
                    {% endif %}

                <div>
                    {% if month_current.month != day.month %}
                        {{ day | date:"m/d" }}
                    {% else %}
                        {{ day.day }}
                    {% endif %}

                    {% for schedule in schedules %}
                        <p>{{ schedule.summary }}</p>
                    {% endfor %}
                </div>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
