{% extends 'app/base.html' %}
{% block content %}
{% load app_tags %} 

    <a href="{% url 'app:month_with_schedule' month_current.year month_current.month %}">月表示に切り替え</a>
    <br>
    <a href="{% url 'app:week_with_schedule' week_previous.year week_previous.month  week_previous.day %}">前週</a>
    {{ week_first | date:"Y年m月d日" }}〜{{ week_last | date:"Y年m月d日" }}
    <a href="{% url 'app:week_with_schedule' week_next.year week_next.month  week_next.day %}">次週</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>曜日</th>
                <th>日付</th>
                <th>予定</th>
            </tr>
        </thead>
        <tbody>
            {% for w, day in week_data %}
            <tr>
                <!-- 曜日 -->
                <th>{{ w }}</th>
    
                <!-- 日付リンク付き -->
                <td {% if now == day %}class="table-success"{% endif %}>
                    <a href="{% url 'app:mycalendar' day.year day.month day.day %}">
                        {% if week_first.month != day.month %}
                            {{ day | date:"m/d" }}
                        {% else %}
                            {{ day.day }}
                        {% endif %}
                    </a>
                </td>
    
                <!-- スケジュール＆祝日 -->
                <td>
                    {% with is_holiday_today=week_holidays|is_holiday:day %}
                        {% if is_holiday_today %}
                            {% with holiday_name=week_holidays|get_item:day %}
                                {% if holiday_name %}
                                    <span style="color: red; font-size: 0.8em;">{{ holiday_name }}</span><br>
                                {% endif %}
                            {% endwith %}
                        {% endif %}
                    {% endwith %}
    
                    {% with day_schedules=week_day_schedules|get_item:day %}
                        {% if day_schedules %}
                            {% for s in day_schedules %}
                                {{ s.start_time }} - {{ s.end_time }}<br>
                                <a href="{% url 'app:day' s.date.year s.date.month s.date.day s.pk %}">{{ s.summary }}</a><br>
                                {{ s.description | urlize | linebreaks }}
                                {% if not forloop.last %}<hr>{% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
